*::-webkit-input-placeholder {
	color: #666;
	opacity: 1;
}
*:-moz-placeholder {
	color: #666;
	opacity: 1;
}
*::-moz-placeholder {
	color: #666;
	opacity: 1;
}
*:-ms-input-placeholder {
	color: #666;
	opacity: 1;
}

body input:focus:required:invalid,
body textarea:focus:required:invalid {
	border:red 2px solid
}
body input:required:valid,
body textarea:required:valid {
	border: green 2px solid
}
body {
	font-family: "RobotoRegular", sans-serif;
	font-size: 16px;
}

a:hover {
	text-decoration: none;
}

.header_topline {
	background-color: #005575;
	color: white;
	cursor: pointer;
}
.header_topline a {
	color: white;
	margin-left: 5px;
}

.top_information{
	display: block;
	float: left;
	margin: 4px 15px;	
	font-size: 17px;
}

.map_top_information:hover,
.top_information a:hover{color: rgb(157, 241, 251); }

.top_information:first-of-type{margin-left: 0px;}
.top_information:last-of-type{
	margin-right: 0px;
	cursor: inherit;
}

.header_secondline {
	background-color: white;
	padding: 0px 0;
	color: #006080;
}

.header_secondline .btn-group,
.header_secondline .input-group {
	padding:16px 0 0 0;
}

.header_secondline .input-group .btn-group{
	padding:0;
}

.header_secondline a {
	color: #006080;
}

.header_menu {
	background-color: #005575;
	padding: 0px 0;
	color: white;
}
.top_links {
	display: inline-block;
	vertical-align: middle;
	z-index: 10;
}
.top_links a {
	text-decoration: underline;
}
.top_links a:hover {
	text-decoration: none;
}
.soc_buttons {
	float: right;
}
.soc_buttons > a {
	font-size: 26px;
	margin-left: 8px;
}
.auth_buttons,
.main_mnu_button {
	background-color: transparent;
	border: medium none;
	font-size: 26px;
}
.main_mnu_button {
	color: #fff;
	padding: 8px 15px 0;
}
.header_secondline .logo {
	color: #006080;
	display: block;
	font-family: "NautilusPompiliusRegular";
	font-size: 42px;
	text-align: left;
	float: left;
	padding: 20px 0;
	position: relative;
	margin-top: 5px;
}

.header_secondline .logo:hover{
text-shadow: 1px 1px #006080;
/*border-radius: 5px;
-webkit-box-shadow: 0 0 5px #006080;
-moz-box-shadow: 0 0 5px #006080;
box-shadow: 0 0 5px #006080;*/
}

.top_header {
	background-color: white;
}
.maian_mnu {
	background-color: #3797bf;
	color: #fff;
	margin-bottom: 20px;
}
.maian_mnu a {
	color: #fff;
	padding: 15px;
	display: block;
	-webkit-transition: all .25s;
	-o-transition: all .25s;
	transition: all .25s;
}
.maian_mnu a:hover {
	background-color: #2787af;
}
.maian_mnu ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
	float: left;
	text-transform: uppercase;
}
.top_contacts {
	background-color: #2787af;
	float: right;
	font-size: 30px;
	line-height: 53px;
	padding: 0 15px;
}
.maian_mnu ul li {
	display: inline-block;
}
.maian_mnu ul {
	z-index: 12;
}
h1 {
	color: #fff;
	text-transform: uppercase;
	text-align: center;
	font-family: "RobotoCondensedLight";
	padding: 16px 0;
}
.sider_container img {
	max-width: 100%;
}
.sider_container {
	position: relative;
}

.next_button, .prev_button,
.next_button_printer, .prev_button_printer,
.next_button_printer_3d, .prev_button_printer_3d,
.next_button_printer_d, .prev_button_printer_d,
.next_button_laminator, .prev_button_laminator,
.next_button_laser, .prev_button_laser,
.next_button_cutter, .prev_button_cutter,
.next_button_scaner, .prev_button_scaner,
.next_button_previously_used, .prev_button_previously_used,
.next_button_rip, .prev_button_rip,
.next_button_video, .prev_button_video,
.pause_button, .play_button,
.pause_button_printer, .play_button_printer,
.pause_button_printer_3d, .play_button_printer_3d,
.pause_button_printer_d, .play_button_printer_d,
.pause_button_laminator, .play_button_laminator,
.pause_button_laser, .play_button_laser,
.pause_button_cutter, .play_button_cutter,
.pause_button_scaner, .play_button_scaner,
.pause_button_previously_used, .play_button_previously_used,
.pause_button_rip, .play_button_rip,
.pause_button_video, .play_button_video {
	background-color: rgba(255, 255, 255, 0.5);
	border-radius: 10em;
	color: #006080;
	cursor: pointer;
	font-size: 35px;
	padding: 0 25px;
	position: absolute;
	top: 120px;
	z-index: 10;
	border: 1px grey solid;
}

.next_button, .prev_button,
.next_button_video, .prev_button_video{
top: 40%;
}

.next_button, .prev_button{font-size: 46px;}

.pause_button, .play_button,
.pause_button_printer, .play_button_printer,
.pause_button_printer_3d, .play_button_printer_3d,
.pause_button_printer_d, .play_button_printer_d,
.pause_button_laminator, .play_button_laminator,
.pause_button_laser, .play_button_laser,
.pause_button_cutter, .play_button_cutter,
.pause_button_scaner, .play_button_scaner,
.pause_button_previously_used, .play_button_previously_used,
.pause_button_rip, .play_button_rip,
.pause_button_video, .play_button_video{
top:170px;
left: 46%;
font-size: 27px;
padding: 3px 20px;
}

.pause_button, .play_button,
.pause_button_video, .play_button_video{
top:80%;
}

.pause_button, .play_button{font-size: 38px;}

.pause_button_video, .play_button_video{
top:50%;
left: 46.85%;
}

.next_button:hover, .prev_button:hover,
.next_button_printer:hover, .prev_button_printer:hover,
.next_button_printer_3d:hover, .prev_button_printer_3d:hover,
.next_button_printer_d:hover, .prev_button_printer_d:hover,
.next_button_laminator:hover, .prev_button_laminator:hover,
.next_button_laser:hover, .prev_button_laser:hover,
.next_button_cutter:hover, .prev_button_cutter:hover,
.next_button_scaner:hover, .prev_button_scaner:hover,
.next_button_previously_used:hover, .prev_button_previously_used:hover,
.next_button_rip:hover, .prev_button_rip:hover,
.next_button_video:hover, .prev_button_video:hover,
.pause_button:hover, .play_button:hover,
.pause_button_printer:hover, .play_button_printer:hover,
.pause_button_printer_3d:hover, .play_button_printer_3d:hover,
.pause_button_printer_d:hover, .play_button_printer_d:hover,
.pause_button_laminator:hover, .play_button_laminator:hover,
.pause_button_laser:hover, .play_button_laser:hover,
.pause_button_cutter:hover, .play_button_cutter:hover,
.pause_button_scaner:hover, .play_button_scaner:hover,
.pause_button_previously_used:hover, .play_button_previously_used:hover,
.pause_button_rip:hover, .play_button_rip:hover,
.pause_button_video:hover, .play_button_video:hover{
	background-color: rgba(0, 0, 0, 0.5);
	color: white;
}
.next_button,
.next_button_printer,
.next_button_printer_3d,
.next_button_printer_d,
.next_button_laminator,
.next_button_laser,
.next_button_cutter,
.next_button_scaner,
.next_button_previously_used,
.next_button_rip,
.next_button_video {
	right: 20px;
}
.prev_button,
.prev_button_printer,
.prev_button_printer_3d,
.prev_button_printer_d,
.prev_button_laminator,
.prev_button_laser,
.prev_button_cutter,
.prev_button_scaner,
.prev_button_previously_used,
.prev_button_rip,
.prev_button_video {
	left: 20px;
}

.fancybox_video{
	width: inherit;
}

.slide-item-video{
	position: relative;
	height: 100%;
	width: inherit;
	float: left;
	border: 1px rgb(219, 219, 219) solid;
	z-index: 50;
}

.slide-item-video p{
text-indent: 10px;
height: 52px;
min-height: 52px;
padding: 5px;
font-size: 15px;
border: none;
overflow: hidden;
text-overflow: ellipsis;
cursor: pointer;
display: table-cell;
vertical-align: middle;
color: #006080;
}

.video_content{
	margin-bottom: 5px;
}

.slide-item-video p:hover{
	    overflow: visible;
		width: auto;
		/*height: auto;*/
        }

.reklam_animation .slide_item img{
	height: 450px;
}
section.ord1er  {
	background-color: #eee;
	padding: 25px 0;
}
.sell_descr {
    font-size: 22px;
    padding-top: 5px;
}
.button {
    background-color: #006080;
    border: medium none;
    border-radius: 5px;
    color: #fff;
    display: block;
    padding: 10px 20px;
    text-transform: uppercase;
    text-align: center;
}
.button:hover {
	background-color: #0585B0;
}
.button:active {
	background-color: #00A2D8;
}

.add_to_cart{
	position: relative;
	float: left;
	padding: 1px;
	color: #006080;
	cursor: pointer;
	font-size: 45px;
	top: -25px;
	right: -10px;
	box-shadow: 3px 3px #0C607D, 0 3px 6px rgb(31, 50, 131);
	border-radius: 5px;
	background: #fff;
	padding-right: 5px;
}
			
.add_to_cart:hover{
	color: #0585B0;
	box-shadow: 3px 3px #0585B0, 0 3px 6px rgb(31, 50, 131);
}		

.add_to_cart:active {
	color: #00A2D8;
	box-shadow: 3px 3px #00A2D8, 0 3px 6px rgb(31, 50, 131);
}

.sell_right .button {
	float: right;
}
.hidden {
	display: none;
}
.pop_form input[type="text"] {
    display: block;
    line-height: 24px;
    margin: 0 auto 12px;
    width: 90%;
    border: #999 3px solid;
}
.pop_form .button {
	margin: 20px auto 0;
}
.pop_form h3 {
    margin: 10px auto 15px;
    text-align: center;
    font-weight: normal;
    font-family: "RobotoCondensedBold";
    text-transform: uppercase;
}
.blog_item img {
	max-width: 100%;
	margin-bottom: 20px;
}
.blog_item h3 {
	text-transform: uppercase;
	font-family: "RobotoCondensedRegular";
	margin-bottom: 10px;
}
.blog_item h3 a {
	text-decoration: underline;
}
.blog_item p {
	margin-top: 0;
}
.right_aside {
	padding: 15px 20px;
	border-radius: 5px;
	background-color: #EEEEEE;
	margin-top: 30px;
}

/* Login pages */
.form-signin {
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
}

.form-signin .form-signin-heading,
.form-signin .checkbox {
    margin-bottom: 10px;
}

.form-signin .checkbox {
    font-weight: normal;
}

.form-signin .form-control {
    position: relative;
    height: auto;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 10px;
    font-size: 16px;
}

.form-signin .form-control:focus {
    z-index: 2;
}

.form-signin input, 
.form-signin i{
    margin-top: 10px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

.form-signin button {
    margin-top: 10px;
}

.has-error {
    color: red
}

.login-container{
	margin: 0 auto;
	width: 360px;
}

.login-container button{
	margin-top: 10px;
	padding: 5px 6px;
	font-size: 17px;
	line-height: 1.3;
	border-radius: 8px;
}

.cart-modal-window{
	font-size: 35px;
	padding: 4px 11px;
	float: right;
	margin: 3px 0px;
}

#quantity_products_in_cart{
	position: absolute;
	color: black;
	bottom: 4px;
	right: 1px;
	background: white;
	padding: 0px;
	margin: 0px;
	height: 24px;
	width: 30px;
	border: 1px black solid;
	border-radius: 15px;
	font-size: 18px;
}

/* user page */
.user_page {
	width: inherit;
	/*border: 1px #00ff0c solid;*/
	border-radius: 5px;
	font: 14px "RobotoRegular", sans-serif;
}

.user_page .photo_and_information_about_user{
	width: inherit;
	height: 320px;
	margin: 5px;
	/*border-bottom: 1px blue solid;*/
}
/*---------------*/
.user_block_products{
	width: inherit;
	/*background: yellow;*/
	margin: 5px;
	border-top: 2px #006080 solid;
	height: auto;
	min-height: 780px;
	position: relative;
	display: block;
	margin-bottom: 25px;
	padding-top: 10px;
}

.user_block_products span.title_block,
.photo_and_information_about_user span.title_block_PAI{
	font: 18px "RobotoRegular", sans-serif;
	font-weight: bold;
	margin: 0px 15px 10px;
	position: relative;
	display: block;
	padding-top: 10px;
}

.user_block_products .product{
	margin: 5px 5px 0px 0px;
	padding: 5px;
	border: 1px green dashed;
	width: 333px;
	display: -moz-box;
	position: relative;
	float: left;
	height: auto;
}

.user_block_products .product img{
	height: 300px;
	/*border: 1px black dotted;*/
	width: 100%;
}

.user_block_products .infrotamaton_product{
	height: 30px;
	position: relative;
	display: block;
	margin: 10px;
}

/* CART CSS STYLE */
.modal-body {
    max-height: calc(100vh - 210px);
    overflow-y: auto;
}

#cart{
	width: auto;
	font: 15px "RobotoRegular";
	
}

#cart h2 {
	width: 200px;
	hidth: auto;
	margin: 0 auto;
	color: #006080;
}

#cart table{
	position: relative;
	height: auto;
	width: 100%;
	/*font: 1.3em sans-serif;*/
	top: 0;
	text-align: center;
	/*border: none;*/
	margin-bottom: 5px;
}

#cart .table > thead:first-child > tr:first-child > th{
	text-align: center;
	vertical-align: middle;
}

#cart .table-bordered > tbody > tr > td{
	vertical-align: middle;
	padding: 5px;
}

#cart table td{
	height: auto;
	width: auto;
	border: 1px #E7EAED solid;
}

#cart table td.price{
	min-width: 117px;
}

#cart table td.delte_item i {
	color:#006080;
	cursor: pointer;
}

#cart table td.delte_item i:hover {
	color:red;
}

#cart table td:first-child{
	padding:1px;
	height:auto; 
	width:160px;
}

#cart .option_product_car table td:first-child{
	width:auto;
}

#div_total_price{
	float:left;
	line-height: 34px;
	font-size: 16px;
	font-weight: bold;
	color: #006080;
}

/*#cart table tr:last-child td{
	border: none;
	font-weight: bold;
	height:auto; 
	width:auto;
}

#cart .option_product_car table tr:last-child td{
	border: 1px #E7EAED solid;
	font-weight: unset;
}*/

#cart table td:last-child{
	font-size: 35px;
}

#cart .option_product_car table td:last-child{
	font-size: 15px;
}

#cart .option_product_car table tr td{
	vertical-align: middle;
	/*border: none;*/
}

#cart .option_product_car table tr td:last-child{
	/*text-align: left;*/
}

#cart .option_product_car table{
	margin-bottom: 0px;
}

#cart .dec_value,
#cart .inc_value,
#cart .dec_value_paint,
#cart .inc_value_paint{
	color: #006080;
	cursor: pointer;
}

#cart .dec_value:hover,
#cart .inc_value:hover,
#cart .dec_value_paint:hover,
#cart .inc_value_paint:hover{
	color: red;
}

#cart input.quantity,
#cart input.quantity_paint{
	text-align: center;
	width: 30px;
}

#cart .option_product_car label{
	margin-bottom: 0px;
	font-weight: unset;
	/*min-width: 240px;*/
}


#cart .option_product_car label.total_ptice_title{min-width: 200px;}
#cart label.add_price_title{height: auto; float:left; text-align: left; cursor: pointer; max-width: 170px;}

#cart .paint_block label.add_price_title{max-width: 70px; min-width: 70px;}

#cart .option_product_car label.total_ptice_title,
#cart .option_product_car label.total_price{
	/*min-width: 155px;*/
	margin:10px 0px;
	text-align: right;
}

#cart .option_product_car .block_product_price input,
#cart .option_product_car .block_product_price label{
	top: 0px;
	position: relative;
}


#cart .option_product_car input[type="checkbox"].add_price,
#cart .option_product_car input[type="checkbox"].add_price_delivery,
#cart .option_product_car input[type="radio"].add_price_delivery,
#cart .option_product_car input[type="checkbox"].add_price_paint{
	margin-left: 5px;
	margin-right: 5px;
	float: left;
	cursor: pointer;
}

#cart .option_product_car .option_description{
	height: auto;
	width: 215px;
}

#cart .option_product_car .product_price{
	min-width: 85px;
}

#cart .option_product_car label.total_ptice_title{
	margin-left: 25px;
	padding: 5px;
}

#cart .delivery_options,
#cart .paint_options{
	width: inherit;
	position: relative;
	height: 40px;
	margin-top: 2px;
}

#cart .delivery_options i,
#cart .paint_options i{
	float: left;
	margin-right: 5px;
	border: 1px #A6AA26 solid;
	border-radius: 12px;
	padding: 5px;
	cursor: pointer;
	margin-left: 5px;
}

#cart .delivery_options p.delivery_options_title,
#cart .paint_options p.paint_options_title {
	float: left;
	margin: 0px;
	margin-top: 3px;
	cursor: pointer;
	font-weight: bold;
	text-align: left;
}

#cart .delivery_options_body,
#cart .paint_options_body{
	display: none;
}

#cart .table_delivery_options,
#cart .table_paint_options{
	margin: 0px;
	width: 100%;
}

/* modal window for cart */
#modal_form {
	width: auto;
	height: auto; /* Рaзмеры дoлжны быть фиксирoвaны */
	border-radius: 5px;
	border: 1px #000 solid;
	background: #fff;
	position: fixed; /* чтoбы oкнo былo в видимoй зoне в любoм месте */
	/*top: 45%;*/ /* oтступaем сверху 45%, oстaльные 5% пoдвинет скрипт */
	/*left: 50%;*/ /* пoлoвинa экрaнa слевa */
	display: none; /* в oбычнoм сoстoянии oкнa не дoлжнo быть */
	opacity: 0; /* пoлнoстью прoзрaчнo для aнимирoвaния */
	z-index: 102; /* oкнo дoлжнo быть нaибoлее бoльшем слoе */
	padding: 20px 10px;
	margin: auto;
}
/* Кнoпкa зaкрыть для тех ктo в тaнке) */
#modal_form #modal_close {
	width: 21px;
	height: 21px;
	position: absolute;
	top: 10px;
	right: 10px;
	cursor: pointer;
	display: block;
}
/* Пoдлoжкa */
#overlay {
	z-index:101; /* пoдлoжкa дoлжнa быть выше слoев элементoв сaйтa, нo ниже слoя мoдaльнoгo oкнa */
	position:fixed; /* всегдa перекрывaет весь сaйт */
	background-color:#000; /* чернaя */
	opacity:0.6; /* нo немнoгo прoзрaчнa */
	-moz-opacity:0.6; /* фикс прозрачности для старых браузеров */
	filter:alpha(opacity=80);
	width:100%; 
	height:100%; /* рaзмерoм вo весь экрaн */
	top:0; /* сверху и слевa 0, oбязaтельные свoйствa! */
	left:0;
	cursor:pointer;
	display:none; /* в oбычнoм сoстoянии её нет) */
}

/*-- AVERAGE RATING --*/
/* ".rating_block" and ".rating_block p" - defined for all RATING */
.rating_block{
		height: 30px;
		padding: 0px;
		/*border-bottom: 1px #006080 solid;*/
	}

	.rating_block p{
		width: 140px;
		padding: 0;
		border: 0;
		color: black;
		background: inherit;
		float: left;
		margin: 5px 0;
		margin-right: 4px;
		font: 14px "RobotoRegular";
	}

.rating_average {
	position: relative;
	width: 100px;
	list-style: none;
	background: url(/images/star.png);
	background-size: 20px 40px;
}
.rating_average li {
	float: left;
	height: 20px;
}

.rating_average li.current {
	z-index: 1;
	background: url(/images/star.png) left bottom;
	background-size: 20px 40px;
}
.rating_average li span[class*="star"] {
	position: absolute;
	z-index: 5;
	display: block;
	width: 20px;
	height: 20px;
	cursor: pointer;
}

.rating_average li span.star1 {
	left: 0;
}
.rating_average li span.star2 {
	left: 20px;
}
.rating li span.star3 {
	left: 40px;
}
.rating_average li span.star4 {
	left: 60px;
}
.rating_average li span.star5 {
	left: 80px;
}
/*-- average raiting END --*/
