
a{
    text-decoration: none;
}

ul{
    margin: 0;
    padding: 0;
    list-style: none;
}
/* Заголовок */
header{
    width: 100%;
    position:fixed;
    z-index: 100;
    background: white;
}

/*!!!!!!!!!!!!!!!!!-----   HEAD MENU    ------!!!!!!!!!!!!!!!!!!!!!!!!*/

#head_memu_background{
    margin: 0;
    background: none repeat scroll #005575; 
    height:30px;  
}

#mainmenu{
    position:relative;
    background:#005575;
    height:50px;
    margin:0px auto;
    padding:0;
    z-index:1;
    font-size: 15px;
}

    #full_menu{
        position: relative;
        float: left;
        height:50px;
		width: auto;
		padding: 2px 0px 2px;
    }

            #full_menu i{
		    	font-size: 45px;
				padding: 0px 4px;
				cursor: pointer;
            }

			#full_menu i:hover{
				background: #006590;
            }

                .toggle-menu {
                    position: relative;
                    z-index: 23;
                }
                /*!!!!!!!!-----------hidden menu-----------!!!!!!!!*/
                .menu-container {
                    position: relative;
                  font-family: 1em/1.4em "Open Sans", sans-serif;
                  z-index: 999;
                  background: #333;
                    width: 200px;
                    left: -200px;
                    line-height: 75px;

                  -webkit-transition: all 0.3s ease-in-out;
		  -moz-transition: all 0.3s ease-in-out;
		  -ms-transition: all 0.3s ease-in-out;
		  -o-transition: all 0.3s ease-in-out;
		  transition: all 0.3s ease-in-out;
                }

                .menu-container.menu-open {
                    position:relative;
                    margin-left: 335px;
                }

    #mainmenu ul {
        position: relative;
	right: 50%;
	float: right;
	text-align: center;
	font: 16px "RobotoRegular";
	list-style: none;
	padding: 0;
	margin: 0;
	font-style: italic;
    }

    #mainmenu ul li {
        border-left:1px solid #666;
        position:relative;
        left:50%;
        float:left;
        height:50px;
        padding:0;
        margin:0;
        display: table;
    }

    #mainmenu ul li:first-child {
        border-left:none;
    }
        #mainmenu ul li a {
            display:block;
            height: auto;
            color: #fff;
            padding:5px 10px;
            overflow: hidden;
            display: table-cell;
            vertical-align: middle;
        }
/*#mainmenu ul li:first-child a {
   border:none;
}*/
  
#mainmenu ul li:hover a,
#mainmenu ul li.hover a,
#mainmenu ul li.active a {
    color:#fff;
/*    padding: 0px 0 0px 20px;*/
}
  
#mainmenu ul li:hover, 
#mainmenu ul li.hover, 
#mainmenu ul li.active {
    background: #006080;
}

#mainmenu ul li:hover .head_menu_point_1,
#mainmenu ul li.hover .head_menu_point_1,
#mainmenu ul li.active .head_menu_point_1,
#mainmenu ul li:hover .head_menu_point_2,
#mainmenu ul li.hover .head_menu_point_2,
#mainmenu ul li.active .head_menu_point_2,
#mainmenu ul li:hover .head_menu_point_3,
#mainmenu ul li.hover .head_menu_point_3,
#mainmenu ul li.active .head_menu_point_3,
#mainmenu ul li:hover .head_menu_point_34,
#mainmenu ul li.hover .head_menu_point_34,
#mainmenu ul li.active .head_menu_point_34,
#mainmenu ul li:hover .head_menu_point_4,
#mainmenu ul li.hover .head_menu_point_4,
#mainmenu ul li.active .head_menu_point_4,
#mainmenu ul li:hover .head_menu_point_5,
#mainmenu ul li.hover .head_menu_point_5,
#mainmenu ul li.active .head_menu_point_5,
#mainmenu ul li:hover .head_menu_point_6,
#mainmenu ul li.hover .head_menu_point_6,
#mainmenu ul li.active .head_menu_point_6,
#mainmenu ul li:hover .head_menu_point_7,
#mainmenu ul li.hover .head_menu_point_7,
#mainmenu ul li.active .head_menu_point_7,
#mainmenu ul li:hover .head_menu_point_8,
#mainmenu ul li.hover .head_menu_point_8,
#mainmenu ul li.active .head_menu_point_8{
    opacity: 1;
    top: 50px;
    left: 0;
}

#mainmenu ul li:hover .head_menu_point_2,
#mainmenu ul li.hover .head_menu_point_2,
#mainmenu ul li.active .head_menu_point_2{
    left: -60px;
}

#mainmenu ul li:hover .head_menu_point_5,
#mainmenu ul li.hover .head_menu_point_5,
#mainmenu ul li.active .head_menu_point_5{
    left: -360px;
}

#mainmenu ul li:hover .head_menu_point_34,
#mainmenu ul li.hover .head_menu_point_34,
#mainmenu ul li.active .head_menu_point_34{
    left: -350px;
}

#mainmenu ul li:hover .head_menu_point_4,
#mainmenu ul li.hover .head_menu_point_4,
#mainmenu ul li.active .head_menu_point_4{
    left: -220px;
}

#mainmenu ul li:hover .head_menu_point_6,
#mainmenu ul li.hover .head_menu_point_6,
#mainmenu ul li.active .head_menu_point_6{
    left: -150px;
}

#mainmenu ul li:hover .head_menu_point_7,
#mainmenu ul li.hover .head_menu_point_7,
#mainmenu ul li.active .head_menu_point_7{
    left: -260px;
}

#mainmenu ul li:hover .head_menu_point_8,
#mainmenu ul li.hover .head_menu_point_8,
#mainmenu ul li.active .head_menu_point_8{
    left: -200px;
}

/*-----------------------*/
.head_menu_point_1,
 .head_menu_point_2,
 .head_menu_point_3,
 .head_menu_point_34,
 .head_menu_point_4,
 .head_menu_point_5,
 .head_menu_point_6,
 .head_menu_point_7,
 .head_menu_point_8{
    position: absolute;
    width: 770px;
/*  border: 1px #2c5987 solid;*/
/*  border-top: 5px solid transparent;*/
    opacity: 0;
    left: 100%;
    top: -9999em;
-webkit-transition: opacity 0.4s ease-in;
-moz-transition: opacity 0.4s ease-in;
-ms-transition: opacity 0.4s ease-in;
-o-transition: opacity 0.4s ease-in;
transition: opacity 0.4s ease-in;

-webkit-border-radius: 0 0 3px 3px;
border-radius: 0 0 3px 3px;
    background: transparent;
    background-color: rgba(0, 0, 0, 0.25);
    padding-top: 5px;
}

.head_menu_point_1,
.head_menu_point_2,
.head_menu_point_34{
    width: 1027px;
}

.head_menu_point_6, .head_menu_point_7{
    width: 515px;
}

.head_menu_point_8{
    width: 260px;
}
    .head_menu_point_element{
        position: relative;
        float: left;
        width: 250px;
        margin: 0px 0px 5px 5px;
        font: 16px Arial, Helvetica, sans-serif;
    }
       #mainmenu ul li .head_menu_point_element a{
            display: block;
            text-align:center;
            position: relative;
            padding: 0px 0px;
          /*  border: 1px #2c5987 solid;*/
           border: none;
            color: black;
            width: auto;
            background: #006080;
            -webkit-border-radius: 10px 10px 10px 10px;
	    border-radius: 10px 10px 10px 10px;
	    
	    -webkit-box-shadow: 0 0 10px black;
            box-shadow: 0 0 10px black;

            -webkit-transition: all 0.5s ease-in;
	    -moz-transition: all 0.5s ease-in;
	    -ms-transition: all 0.5s ease-in;
	    -o-transition: all 0.5s ease-in;
	    transition: all 0.5s ease-in;

	    z-index: 12;
        }

        #mainmenu ul li .head_menu_point_element a:hover{
            background: #006590;
            -moz-transform: scale(1.2);
	-webkit-transform: scale(1.2);
	-o-transform: scale(1.2);
	-ms-transform: scale(1.2);
	transform: scale(1.2);
	    z-index: 15;
            
        }

            #mainmenu ul li .head_menu_point_element a img{
                position: relative;
                width: 100%;
                height: 150px;
                border: 1px #2c5987 solid;
                background: white;
                -webkit-border-radius: 0 0 0 0;
		border-radius: 0 0 0 0;
            }

            .head_menu_point_element a p{
                text-align:center;
                position: relative;
                height: inherit;
                width: 100%;
                color: white;
                margin: 0;
                padding: 10px 5px;
            }
/*--- NAVIGATION ---*/
#navigation{
    position: relative;
    height: auto;
    top: 140px;
    margin: 2px 0px 4px;
    border-top: 1px solid rgb(219, 219, 219);
    border-bottom: 1px solid rgb(219, 219, 219);
	display: table;
	width:100%;
}

    #navigation a, #navigation span, #navigation p{
        position: relative;
        display: block;
        line-height: 16px;
        font: 16px Arial;
        float: left;
        padding: 2px 5px 2px 5px;
        margin: 0;
	font-style: italic;
    }
    #navigation a{
        color:#999;
    }

    #navigation a:hover{
        color:#6699CC;
    }

#search_area_by_phrase .result_of_search_by_phrase{
	position: absolute;
	display: block;
	width: 100%;
	height: auto;
	background: white;
	left: 0px;
	z-index: 100;
	margin-top: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	border: 1px #006080 solid;
	padding: 0px 3px;
	max-height: 263px;
	overflow-y: auto;
}

#search_area_by_phrase .result_of_search_by_phrase .result_of_search{
	position: relative;
	display: block;
	width: 100%;
	height: 40px;
	background: white;
	left: 0px;
	z-index: 100;
	margin: 3px 0px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	border: 1px #006080 solid;
}

#search_area_by_phrase .result_of_search_by_phrase .result_of_search a{
	position: relative;
	display: block;
	width: 100%;
	height: inherit;
	border-radius: 3px;
	-webkit-box-shadow: 0 0 5px rgb(157, 157, 157);
	-moz-box-shadow: 0 0 5px rgb(157, 157, 157);
	box-shadow: 0 0 5px rgb(157, 157, 157);
}

#search_area_by_phrase .result_of_search_by_phrase .result_of_search a:hover{
	background: #4fb4f5;
}

#search_area_by_phrase .result_of_search_by_phrase .result_of_search a img{
	position: relative;
	height: inherit;
	padding: 3px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	float: left;
	max-width: 75px;
}

#search_area_by_phrase .result_of_search_by_phrase .result_of_search a span.name_searched_product{
	font-size: 14px;
	max-width: 315px;
	position: relative;
	display: table-cell;
	/*background: #0bffdd;*/
	box-sizing: padding-box;
	vertical-align: middle;
	line-height: 35px;

	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

#search_area_by_phrase .result_of_search_by_phrase span.no_search_result{
	padding: 10px;
	height: 35px;
	position: relative;
	display: block;
	font-size: 13px;
	color: rgb(189, 56, 56);
}

#search_area_by_phrase .close_result_of_search{
	position: absolute;
	height: 20px;
	width: 30px;
	background: grey;
	top: 55px;
	right: -35px;
	z-index: 90;
}

#search_area_by_phrase .close_result_of_search i{
	color: #006080;
}

#search_area_by_phrase .close_result_of_search i:hover{
	color: red;
}
/*-------------------- Тело страницы --------------------*/

#the_main_part {
    position: relative;
    width: 1340px;
    height: auto;
    margin: 0 auto;
}
    .left_field{
	font: 15px "RobotoRegular";
        position: relative;
-webkit-transition: opacity 0.5s linear;
-moz-transition: opacity 0.5s linear;
-ms-transition: opacity 0.5s linear;
-o-transition: opacity 0.5s linear;
transition: opacity 0.5s linear;
        z-index: 90;
    }

        .menu{
            margin-bottom: 5px;
        }

            .menu a{
                background: #006080;
                color: #fff;
                padding: 10px 20px 10px 10px;
                display: block;
                border-bottom: 1px solid #666;
                -webkit-transition: all 0.5s linear;
-moz-transition: all 0.5s linear;
-ms-transition: all 0.5s linear;
-o-transition: all 0.5s linear;
transition: all 0.5s linear;
            }

            .menu a:hover{
                background: #006590;
                padding: 10px 10px 10px 20px;
            }

                .menu li:first-child a,
                .menu li .menu_drop li:first-child a,
                .menu li .menu_drop li .menu_drop_drop li:first-child a{
                	-webkit-border-top-left-radius: 3px;
			border-top-left-radius: 3px;

                        -webkit-border-top-right-radius: 3px; 
			border-top-right-radius: 3px;
                }

                .menu li:last-child a,
                .menu li .menu_drop li:last-child a,
                .menu li .menu_drop li .menu_drop_drop li:last-child a{
                    -webkit-border-bottom-left-radius: 3px;
		    border-bottom-left-radius: 3px;

                    -webkit-border-bottom-right-radius: 3px; 
		    border-bottom-right-radius: 3px;
 
                    border-bottom: 0;
                }

                .menu li .menu_drop li a,
                .menu li .menu_drop li .menu_drop_drop a{
                    -webkit-border-radius: 0;
		    border-radius: 0;   
                    border-bottom: 1px solid #666;
                }

            /* Всплывающие меню */

            .menu_list,
            .menu_list_list{
                position: relative;
            }

            .menu_drop,
            .menu_list_list .menu_drop_drop{
                position: absolute;
                width: 100%;
                left: 100%;
                top: -9999em;
                opacity: 0;
                border-left: 10px solid transparent;
-webkit-transition: opacity; 0.5s linear;
-moz-transition: opacity; 0.5s linear;
-ms-transition: opacity; 0.5s linear;
-o-transition: opacity; 0.5s linear;
transition: opacity; 0.5s linear;
            }

            .menu_list:hover .menu_drop,
            .menu_list_list:hover .menu_drop_drop{
                opacity: 1;
                top: 0;
            }

            /* Иконки для всплывающих менюшек */ 

            .menu_list::after,
            .menu_list_list::after{
                content: " ";
                position: absolute;
                border: 5px solid;
                border-color: transparent transparent transparent #eee;
                top: 1em;
                right: 0.7em;
                -webkit-transition: all 0.5s linear;
		-moz-transition: all 0.5s linear;
		-ms-transition: all 0.5s linear;
		-o-transition: all 0.5s linear;
		transition: all 0.5s linear;
            }

            .menu_list:hover::after,
            .menu_list_list:hover::after{
                -moz-transform: scale(-1);
		-webkit-transform: scale(-1);
		-o-transform: scale(-1);
		-ms-transform: scale(-1);
		transform: scale(-1);
            }
            
/*-------------- LEFT FIELD ------------------*/
        #reklam{
            position: relative;
            float: left;
            width: 100%;
        }

             #reklam .slide-item {
             	position: relative;
                height: auto;
                width: inherit;
                float: left;
                margin: 0px 0px 5px 0px;
                border: 2px #006080 solid;
		-webkit-border-radius: 5px 5px 5px 5px;
	        border-radius: 5px 5px 5px 5px;
		-webkit-box-shadow: 0px 0px 8px rgba(0,0,0,0.3);
		box-shadow: 0px 0px 8px rgba(0,0,0,0.3);
            }

                .slide-item a.slider_image {
		    position: relative;
                    height: 201px;
                    width: inherit;
		    border-bottom: 2px #006080 solid;
		    display:table-cell;
    		    vertical-align: middle;
		    max-height: 201px;
		    overflow: hidden;
                }

                     #reklam .slide-item a.slider_image img{
			position: relative;
                        height: inherit;
                        width: inherit;
                    }

                    #reklam .slide-item a.slider_image img:hover{
                        -moz-transform: scale(1.1);
			-webkit-transform: scale(1.1);
			-o-transform: scale(1.1);
			-ms-transform: scale(1.1);
			transform: scale(1.1);
                    }

         #reklam .slide-title,
         #reklam .slide-price{
	    position: relative;
	    float: left;
            width: inherit;
            height: auto;
            /* Шрифт */
            font: 14px "RobotoRegular", sans-serif;
	    padding: 1px 0px 0px 3px;
		margin-top: 1px;
		margin-left: 1px;
	    font-weight: bold;
	    color: #006080;
	    white-space: nowrap;/* Запрещаем перенос строк */
	    overflow: hidden;
	    text-overflow: ellipsis;
        }

		#reklam .block_title_and_price{
			width: inherit;
			padding: 10px;		
		}

		#reklam .slide-title:hover,
		#reklam .products_title:hover{
	    background-color: white;
	    white-space: pre;/* Запрещаем перенос строк */
	    overflow: visible;
		width: auto;
		z-index: 100;
		-webkit-box-shadow: 0 0 5px rgb(157, 157, 157);
		-moz-box-shadow: 0 0 5px rgb(157, 157, 157);
		box-shadow: 0 0 5px rgb(157, 157, 157);
        }
			
		#reklam .slide-title:hover{padding: 0 10px; }
	
	#reklam .slide-price{
	    color: #92A5A6;
	}


/* reklam buttom buy */
a.reklam_add_to_cart {
  position: relative;
  display: inline-block;
  color: #777674;
  font-weight: bold;
  padding: 5px 0px;
  outline: none;
  border-radius: 3px / 100%;
  background-image:
   linear-gradient(45deg, rgba(255,255,255,.0) 30%, rgba(255,255,255,.8), rgba(255,255,255,.0) 70%),
   linear-gradient(to right, rgba(255,255,255,1), rgba(255,255,255,0) 20%, rgba(255,255,255,0) 90%, rgba(255,255,255,.3)),
   linear-gradient(to right, rgba(125,125,125,1), rgba(255,255,255,.9) 45%, rgba(125,125,125,.5)),
   linear-gradient(to right, rgba(125,125,125,1), rgba(255,255,255,.9) 45%, rgba(125,125,125,.5)),
   linear-gradient(to right, rgba(223,190,170,1), rgba(255,255,255,.9) 45%, rgba(223,190,170,.5)),
   linear-gradient(to right, rgba(223,190,170,1), rgba(255,255,255,.9) 45%, rgba(223,190,170,.5));
  background-repeat: no-repeat;
  background-size: 200% 100%, auto, 100% 2px, 100% 2px, 100% 1px, 100% 1px;
  background-position: 200% 0, 0 0, 0 0, 0 100%, 0 4px, 0 calc(100% - 4px);
  box-shadow: rgba(0,0,0,.5) 3px 10px 10px -10px;
  margin: 5px 0px 0px;
  cursor: pointer;
}
a.reklam_add_to_cart:hover {
  transition: .5s linear;
  background-position: -200% 0, 0 0, 0 0, 0 100%, 0 4px, 0 calc(100% - 4px);
}
a.reklam_add_to_cart:active {
  top: 1px;
}

	     .left_shares_link img{
             	position: absolute;
             	top:-5px;
             	left:-5px;
             	z-index: 10;
             }
                    
             .right_shares_link img{
             	position: absolute;
             	top:-5px;
             	right:-5px;
             	z-index: 10;
             } 

.ribbon-wrapper-right {
  width: 90px;
  height: 90px;
  overflow: hidden;
  position: absolute;
  top: -3px;
  right: -3px;
}

.ribbon-wrapper-left {
  width: 90px;
  height: 90px;
  overflow: hidden;
  position: absolute;
  top: -3px;
  left: -3px;
}

.ribbon-right {
  font: bold 15px Sans-Serif;
  text-align: center;
-moz-transform: rotate(45deg);
-webkit-transform: rotate(45deg);
-o-transform: rotate(45deg);
-ms-transform: rotate(45deg);
transform: rotate(45deg);
  position: relative;
  padding: 4px 0;
  left: -15px;
  top: 25px;
  width: 150px;
  background-color: #006080;
  color: #FFFFFF;
z-index: 10;
}   

.ribbon-left {
  font: bold 15px Sans-Serif;
  text-align: center;
-moz-transform: rotate(-45deg);
-webkit-transform: rotate(-45deg);
-o-transform: rotate(-45deg);
-ms-transform: rotate(-45deg);
transform: rotate(-45deg);
  position: relative;
  padding: 4px 0;
  right: 40px;
  top: 25px;
  width: 150px;
  background-color: #F3A956;
  color: black;
  z-index: 10;
}

/*---------------- footer ----------------*/
.footer { 
    position: relative;
    width: 100%;
    margin-top: 0px; /* negative value of footer height */
    height: 60px;
    background-color: #005575;    
    clear:both;
    bottom: -5px;
}

.footer .text{
	position: relative;
	width: 100%;
    	text-align: center;
	vertical-align: middle;
	padding: 20px 0px;
	color: white;
}
