/**{box-sizing:border-box;}*/
body { 
    width: 100%;
    font: 1em/1.4em sans-serif;
    padding: 0;
    margin: 0;
}

a{
    text-decoration: none;
}

ul{
    margin: 0;
    padding: 0;
    list-style: none;
}
/* Заголовок */
header{
    width: 100%;
}
#first_row{
    position: relative;
    width: 1340px;
    margin: 0 auto;
    border: 2px #e8e8e8 solid;
    height: 30px;
    z-index: 100;
}
   
    #first_row_left{
        position: absolute;
        left: 50px;
        height: inherit;
    }

        #first_row_left li{
            display: table-cell;
            text-align: center;
            vertical-align: middle;
            height: inherit;
            border-right: 2px #e8e8e8 solid;
        }

            #first_row_left li a{
                display: block;
                color: black;
                padding: 0 10px;
            }
    
    #first_row_right{
        position: absolute;
        right: 50px;
        height: inherit;
    }

        #first_row_right li{
            display: table-cell;
            text-align: center;
            vertical-align: middle;
            height: inherit;
            border-left: 2px #e8e8e8 solid;
        }

            #first_row_right li a{
                display: block;
                color: black;
                padding: 0 10px;
            }


#second_row{
    height: 50px;
    position: relative;
    width: 1340px;
    margin: 0 auto;
    padding: 5px 0 0;
}

    #second_row_image{
        width: 80px;
        height: 40px;
        border: 2px solid #0669BD;
        height: inherit;
        float: left;
    }

    .search{
        height: 40px;
        margin:0px auto;
        padding: 0;
    }

    #second_row_search{
        float: left;
        margin-left: 200px;
        margin-top: 5px;
        margin-bottom: 5px;
    }

    #second_row_basket{
        float: right;
        padding: 10px 25px;
        border: 2px red solid;
        border-radius: 5px;
    }

        #second_row_basket:hover{
            background-color: deepskyblue;
            color: black;
            border: 2px blue solid;
        }

    #second_row_search_button{
        width: 60px;
    }

/*!!!!!!!!!!!!!!!!!-----   HEAD MENU    ------!!!!!!!!!!!!!!!!!!!!!!!!*/

#head_memu_background{
    margin: 0;
    background: none repeat scroll #2c5987;
}

#mainmenu{
    position:relative;
    background:#2c5987;
    height:30px;
    margin:10px auto;
    padding:0;
    width:1340px;
    z-index:11;
}

    #full_menu{
        position: relative;
        float: left;
        height:30px;
        overflow: hidden;
        box-sizing:border-box;
    }

            #full_menu a img{
                float: left;
                height:30px;
                overflow: hidden;
            }

#mainmenu ul {
    position:relative;
    right:50%;
    height:30px;
    float:right;
    text-align:center;
    font:15px Arial, Helvetica, sans-serif;
    list-style:none;
    padding:0;
    margin:0;
}
    #mainmenu ul li {
        border-left:1px solid #666;
        position:relative;
        left:50%;
        float:left;
        height:30px;
        padding:0;
        margin:0;
    }
        #mainmenu ul li a {
            display:block;
            height: auto;
            color: #fff;
            padding:5px 15px;
            overflow: hidden;
        }
/*#mainmenu ul li:first-child a {
   border:none;
}*/
  
#mainmenu ul li:hover a,
#mainmenu ul li.hover a,
#mainmenu ul li.active a {
    color:#fff;
/*    padding: 0px 0 0px 20px;*/
}
  
#mainmenu ul li:hover, 
#mainmenu ul li.hover, 
#mainmenu ul li.active {
    background: #666;
}

#mainmenu ul li:hover .head_menu_point_1,
#mainmenu ul li.hover .head_menu_point_1,
#mainmenu ul li.active .head_menu_point_1,
#mainmenu ul li:hover .head_menu_point_2,
#mainmenu ul li.hover .head_menu_point_2,
#mainmenu ul li.active .head_menu_point_2,
#mainmenu ul li:hover .head_menu_point_3,
#mainmenu ul li.hover .head_menu_point_3,
#mainmenu ul li.active .head_menu_point_3,
#mainmenu ul li:hover .head_menu_point_4,
#mainmenu ul li.hover .head_menu_point_4,
#mainmenu ul li.active .head_menu_point_4,
#mainmenu ul li:hover .head_menu_point_5,
#mainmenu ul li.hover .head_menu_point_5,
#mainmenu ul li.active .head_menu_point_5,
#mainmenu ul li:hover .head_menu_point_6,
#mainmenu ul li.hover .head_menu_point_6,
#mainmenu ul li.active .head_menu_point_6,
#mainmenu ul li:hover .head_menu_point_7,
#mainmenu ul li.hover .head_menu_point_7,
#mainmenu ul li.active .head_menu_point_7{
    opacity: 1;
    top: 30px;
    left: 0;
}

#mainmenu ul li:hover .head_menu_point_2,
#mainmenu ul li.hover .head_menu_point_2,
#mainmenu ul li.active .head_menu_point_2{
    left: -60px;
}

#mainmenu ul li:hover .head_menu_point_5,
#mainmenu ul li.hover .head_menu_point_5,
#mainmenu ul li.active .head_menu_point_5{
    left: -150px;
}

/*-----------------------*/
.head_menu_point_1, .head_menu_point_2, .head_menu_point_3, .head_menu_point_4, .head_menu_point_5, .head_menu_point_6, .head_menu_point_7{
    position: absolute;
    width: 770px;
    border: 1px #2c5987 solid;
/*    border-top: 5px solid transparent;*/
    opacity: 0.1;
    left: 100%;
    top: -9999em;
    transition: 0.5s opacity;
    border-radius: 0 0 3px 3px;
   background: transparent;
}
.head_menu_point_1,
.head_menu_point_2{
    width: 750px;
}
.head_menu_point_4{
    width: 515px;
}
.head_menu_point_6, .head_menu_point_7{
    width: 260px;
}
    .head_menu_point_element{
        position: relative;
        float: left;
        width: 250px;
        margin: 5px 0px 5px 5px;
    }
       #mainmenu ul li .head_menu_point_element a{
            display: block;
            text-align:center;
            position: relative;
            padding:5px 5px;
          /*  border: 1px #2c5987 solid;*/
           border: none;
            color: black;
            width: auto;
            background: white;
        }
            #mainmenu ul li .head_menu_point_element a img{
                position: relative;
                height: auto;
                width: 100%;
                height: 150px;
                border: 1px #2c5987 solid;
                border-radius: 3px 3px 3px 3px;
            }

            .head_menu_point_1 img,
            .head_menu_point_2 img{
                position: relative;
                float: left;
                height: 300px;
                width: 480px;
                border-right: 1px #2c5987 solid;
                border-radius: 0px 0px 0px 3px;
            }
            .head_menu_point_element a p{
                text-align:center;
                position: relative;
                height: inherit;
                width: 100%;
                color: black;
                margin: 0;
            }

            .head_menu_point_1 .head_menu_point_element a p,
            .head_menu_point_2 .head_menu_point_element a p{
                display: block;
                float: left;
                text-align:left;
                position: relative;
                height: inherit;
                width: 250px;
                color: black;
            }

            .head_menu_point_1 .head_menu_point_element a p:hover,
            .head_menu_point_2 .head_menu_point_element a p:hover{
                color: greenyellow;
            }

/*-------------------- Тело страницы --------------------*/

#the_main_part {
    position: relative;
    width: 1340px;
    margin: 0 auto;
}
    .left_field{
        box-sizing: content-box;
        position: relative;
        float: left;
    /*  border: 2px #666 solid;*/
    /*  border-left: 10px solid transparent;*/
        transition: 0.5s opacity;
        width: 15%;
        z-index: 10;
    }

        /*.menu{
            position: relative;
            float: left;
            width: inherit;
        }*/

            .menu a{
                background: #2c5987;
                color: #fff;
                padding: 10px;
                display: block;
                border-bottom: 1px solid #666;
                transition: 0.5s all;
            }

            .menu a:hover{
                background: blue;
                padding: 10px 0 10px 20px;
            }

                .menu li:first-child a,
                .menu li .menu_drop li:first-child a,
                .menu li .menu_drop li .menu_drop_drop li:first-child a{
                    border-radius: 3px 3px 0 0;   
                }

                .menu li:last-child a,
                .menu li .menu_drop li:last-child a,
                .menu li .menu_drop li .menu_drop_drop li:last-child a{
                    border-radius: 0 0 3px 3px; 
                    border-bottom: 0;
                }

                .menu li .menu_drop li a,
                .menu li .menu_drop li .menu_drop_drop a{
                    border-radius: 0;   
                    border-bottom: 1px solid #666;
                }

            /* Всплывающие меню */

            .menu_list{
                position: relative;
            }

            .menu_drop,
            .menu_drop_drop{
                position: absolute;
                width: 100%;
                left: 100%;
                top: -9999em;
                opacity: 0;
                border-left: 10px solid transparent;
                transition: 0.5s opacity;
            }

            .menu_list:hover .menu_drop,
            .menu_list_list:hover .menu_drop_drop{
                opacity: 1;
                top: 0;
            }

            /* Иконки для всплывающих менюшек */ 

            .menu_list::after,
            .menu_list_list::after{
                content: " ";
                position: absolute;
                border: 5px solid;
                border-color: transparent transparent transparent #eee;
                top: 1em;
                right: 0.7em;
                transition: 0.5s;
            }

            .menu_list:hover::after,
            .menu_list_list:hover::after{
                transform: scale(-1);
            }
/*!!!!!!!!!!!!!----------------------!!!!!!!!!!!!!*/
/*.menu-container {
    position: relative;
  font-family: "Open Sans", sans-serif;
  z-index: 10;
  background: #333;
    width: 200px;
    left: -200px;
    line-height: 75px;
    
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out; }
  
.menu-container.menu-open {
    position:relative;
    margin-left: 335px;

}

.toggle-menu {
    position: relative;
    float: left; 
  height: 20px;
  padding: 5px 5px;
  background: #000 ;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out; 
    z-index: 23;
}
  .toggle-menu .icon-bar {
    height: 3px;
    display: block;
    width: 30px;
    opacity: 1;
    background: #fff;
    margin-bottom: 5px;
    -webkit-transition: all 0.8s ease-in-out;
    -moz-transition: all 0.8s ease-in-out;
    transition: all 0.8s ease-in-out; 
  }
  
.toggle-menu.active {
    left: 400px; 
} 

    .toggle-menu .icon-bar:last-child {
      margin-bottom: 0; 
    }
    .toggle-menu .icon-bar.hide-closed {
      transition-duration: 0.4s; 
    }
  .toggle-menu.active {
    padding-top: 13px; 
    height:30px;
      box-sizing:border-box;

  }
    .toggle-menu.active .icon-bar {
      margin-bottom: -3px; 
    }
    .toggle-menu.active .skew-clock {
      -ms-transform: rotate(45deg);
      -webkit-transform: rotate(45deg);
      transform: rotate(45deg); 
    }
    .toggle-menu.active .hide-closed {
      opacity: 0 !important; 
    }
    .toggle-menu.active .skew-counter {
      -ms-transform: rotate(-45deg);
      -webkit-transform: rotate(-45deg);
      transform: rotate(-45deg); 
    }

.menu-text {
    font-family: "Open Sans", sans-serif;
    float: left;
    left: 0px;
    color: #000;
    font-size: 20px;
    line-height: 50px;
    text-transform: uppercase;
}

.menu {
  width: 100%;
  margin: 0 0 30px 0;
  list-style: none;
}
  .menu li {
    border-bottom: 1px solid #9e9e9e;
    width: 100%;
    height: 50px;
    -webkit-transition: background-color 0.3s;
    -moz-transition: background-color 0.3s;
    -o-transition: background-color 0.3s;
    -ms-transition: background-color 0.3s;
    transition: background-color 0.3s;
  }
    .menu li:hover, .menu li.active {
      background-color: rgba(0, 0, 0, 0.15);
    }
    .menu li a {
      display: block;
      color: #fff;
      text-transform: uppercase;
      font-size: 20px;
      text-decoration: none;
      padding-left: 30px;
    }
      .menu li a:hover {
        color: #bdbdbd;
        background: none;
      }
    .menu li .current-menu-item {
      color: #00bbeb;
    }*/