
/*-------------- LEFT FIELD ------------------*/
        #reklam{
            position: relative;
            float: left;
            width: 100%;
        }

             #reklam .slide-item {
                height: auto;
                width: inherit;
                float: left;
                margin: 0 0px 5px;
                border: 1px #006080 solid;
            }

                .slide-item .slider_image {
                    height: 201px;
                    width: 100%;
                }

                     #reklam .slide-item .slider_image img{
                        height: inherit;
                        width: inherit;
                    }

                    #reklam .slide-item .slider_image img:hover{
                        transform: scale(1.1);
                    }

        #reklam .slide-title,
         #reklam .slide-price,
         #reklam .slide-buy{
            width: 100%;
            height: auto;
            /* Шрифт */
            font: 1em/1.4em sans-serif;
            /* Указываем, что элемент блочный */
            display: block;
            border: 1px #006080 solid;
        }

         #reklam .slide-title{
            border-top: 2px #006080 solid;
        }

                    .slide-buy {
                        width: 100%;
                        height: auto;
                        padding: 0 0 2px;
                        font: 16px "Trebuchet MS", Tahoma, Arial, sans-serif;
                        outline: none;
                        position: relative;
                        cursor: pointer;
                        border-radius: 3px;
                        color: white;
                        text-shadow: 1px 1px #006080;
                        border: 1px solid #006080;
                        border-top: 1px solid #006080;
                        border-bottom: 1px solid #006080;
                        box-shadow:
                            inset 0 1px #939393,
                            inset 1px 0 #707070,
                            inset -1px 0 #707070,
                            inset 0 -1px #5A5A5A,
                            0 2px #414141,
                            0 3px #343434,
                            0 4px 2px rgba(0,0,0,0.4)
                        ;
                        background: -moz-linear-gradient(top,  #abe4f8 0%, #74d0f4 100%); /* FF3.6+ */
                        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#abe4f8), color-stop(100%,#74d0f4)); /* Chrome,Safari4+ */
                        background: -webkit-linear-gradient(top,  #00779f 0%,#004860 100%); /* Chrome10+,Safari5.1+ */
                        background: -o-linear-gradient(top,  #abe4f8 0%,#74d0f4 100%); /* Opera 11.10+ */
                        background: -ms-linear-gradient(top,  #abe4f8 0%,#74d0f4 100%); /* IE10+ */
                        background: linear-gradient(top,  #abe4f8 0%,#74d0f4 100%); /* W3C */
                        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#abe4f8', endColorstr='#74d0f4',GradientType=0 ); /* IE6-9 */
                        background-color: #006080;
                    }

                    .slide-buy::-moz-focus-inner{border:0}

                    .slide-buy:hover{
                        border-top: 1px solid #79ACBE;
                        box-shadow:
                            inset 0 1px #939393,
                            inset 1px 0 #707070,
                            inset -1px 0 #707070,
                            inset 0 -1px #5A5A5A,
                            0 2px #414141,
                            0 3px #343434,
                            0 4px 2px rgba(0,0,0,0.4)
                        ;
                        background: -moz-linear-gradient(top,  #80d4f5 0%, #92dbf6 100%); /* FF3.6+ */
                        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#80d4f5), color-stop(100%,#92dbf6)); /* Chrome,Safari4+ */
                        background: -webkit-linear-gradient(top,  #004860 0%,#00779f 100%); /* Chrome10+,Safari5.1+ */
                        background: -o-linear-gradient(top,  #80d4f5 0%,#92dbf6 100%); /* Opera 11.10+ */
                        background: -ms-linear-gradient(top,  #80d4f5 0%,#92dbf6 100%); /* IE10+ */
                        background: linear-gradient(top,  #80d4f5 0%,#92dbf6 100%); /* W3C */
                        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#80d4f5', endColorstr='#92dbf6',GradientType=0 ); /* IE6-9 */
                        background-color: #006080;
                    }

                    .slide-buy:active{
                        top: 3px;
                        border: 1px solid #006080;
                        border-top: 1px solid #006080;
                        border-bottom: 1px solid #006080;
                        background: #006080;
                        box-shadow: inset 0 1px 2px #006080;
                    }
/*----------- ANIMATION IN HEAD PART OF PAGE, AFTER ROW MENU -----------------*/
 /*   #head_of_body{
        position: relative;
        float: left;
        width: 85%;
        height: 400px;
    }*/

        .reklam_animation{
            position: relative;
            float: left;
            width: 69%;
            height: 450px;
            margin: 0 auto 0;
            padding: 0 5px 0;
            overflow: hidden;
        }

        #rigt_of_reklam_animation{
            position: relative;
            float: left;
            width: 15%;
            height: 450px;
        }

        .rigt_of_reklam_animation_position{
            position: absolute;
            margin: 155px 0;
            height: auto;
            width: 100%;
            border: 1px green solid;
        }

        .rigt_of_reklam_animation_position:first-child{
            top: 0px;
            margin: 0;
        }

       .rigt_of_reklam_animation_position:last-child{
            bottom: 0px;
            margin: 0;
        }

            .rigt_of_reklam_animation_position a{
                position: relative;
                display: block;
                width: inherit;
                height: auto;
                color: white;
                border: 1px #006080 solid;
            }

                .rigt_of_reklam_animation_position a .for_right_reklam_image{
                    position: relative;
                    width: inherit;
                    height: 190px;
                }

                .rigt_of_reklam_animation_position a .for_right_reklam_image img{
                    position: relative;
                    width: 100%;
                    height: 100%;
                }

                .rigt_of_reklam_animation_position a p{
                    margin: 0px;
                    position: relative;
                    bottom: 0;
                    width: inherit;
                    height: auto;
                    color: black;
                    border-top: 1px #006080 solid;
                }
/*------------- Категории товаров*----------------*/
    #goods{
        position: relative;
        float: left;
        width: 84%;
        margin: 5px auto 0;
        padding: 0 5px 0;
        z-index: 5;
       /* border: 2px #666 solid;*/
    }

        .advertising{
            position: relative;
            width: 100%;
            height: 334px;
            margin: 0 0 10px;
        }

            .advertising .advertising_image{
                box-sizing: content-box;
                margin: 0 3px;
                padding: 0;
                position: relative;
                float: left;
                height: 100%;
                width: 363px;
                border: 2px #006080 solid;
            }
            .advertising_image:first-child{
                margin-left: 0;
            }
            .advertising_image:last-child{
                margin-right: 0;
            }
                .advertising_image a{
                    height: 100%;
                    width: 100%;
                }
                    .advertising_image a img{
                        height:100%;
                        width: 100%;
                    }
     /*               .advertising_image a p{
                        height: 15%;
                        width: 100%;
                        border: 1px #006080 solid;
                    }*/
/*---- для прикладу ще один варіант реклами на всю область -----*/
        .advertising_second_variant{
            position: relative;
            width: 100%;
            height: 167px;
            margin: 0 0 10px;
            border: 1px #006080 solid;
        }

            .advertising_second_variant .advertising_image{
                margin: 0;
                padding: 0;
                position: relative;
                float: left;
                height: 100%;
                width: 50%;
                border: 1px #006080 solid;

            }
               .advertising_second_variant .advertising_image a{
                    height: 100%;
                    width: 100%;
                }
                   .advertising_second_variant .advertising_image a img{
                        height:100%;
                        width: 100%;
                    }
/*------ закінчення другого варіанту -----*/

/*---- третій варіант -----*/
        .advertising_third_variant{
            position: relative;
            width: 100%;
            height: 167px;
            margin: 0 0 10px;
            border: 1px #006080 solid;
        }

            .advertising_third_variant .advertising_image{
                margin: 0;
                padding: 0;
                position: relative;
                float: left;
                height: 100%;
                width: 33.33%;
                border: 1px #006080 solid;

            }
               .advertising_third_variant .advertising_image a{
                    height: 100%;
                    width: 100%;
                }
                   .advertising_third_variant .advertising_image a img{
                        height:100%;
                        width: 100%;
                    }
/*------ закінчення третього варіанту -----*/

/*---- четвертий варіант -----*/
        .advertising_fourth_variant{
            position: relative;
            width: 100%;
            height: 334px;
            margin: 0 0 10px;
            border: 1px #006080 solid;
        }

            .advertising_fourth_variant .advertising_image{
                margin: 0;
                padding: 0;
                position: relative;
                float: left;
                height: 100%;
                width: 33.33%;
                border: 1px #006080 solid;

            }
               .advertising_fourth_variant .advertising_image a{
                    height: 100%;
                    width: 100%;
                }
                   .advertising_fourth_variant .advertising_image a img{
                        height:100%;
                        width: 100%;
                    }
/*------ закінчення четвертого варіанту -----*/
        .categories_of_goods{
            box-sizing: content-box;
            position: relative;
            width: 100%;
            height: 334px;
            margin: 0 0 10px;
            border: 1px #006080 solid; 
        }

            .description_slider{
                width: 199px;
                margin: 0 auto;
                padding: 0 0px;
                position: relative;
                float: left;
                /* Скроем то что выходит за границы */
                overflow: hidden;
                height: inherit;
                border: 1px solid #006080;
                border-right: none;
            }

                .description_slider label{
                    width: 100%;
                    display: block;
                    text-align: center; 
                    vertical-align: middle;
                    background: #006080;
                    color: white;
                    padding: 5px 0px;
                    font-size: 18px;
                    position: relative;
                    float: left;
                    /* Скроем то что выходит за границы */
                    overflow: hidden;
                                            box-shadow:
                            inset 0 1px #939393,
                            inset 1px 0 #707070,
                            inset -1px 0 #707070,
                            inset 0 -1px #5A5A5A,
                            0 2px #414141,
                            0 3px #343434,
                            0 4px 2px rgba(0,0,0,0.4)
                        ;
                        background: -moz-linear-gradient(top,  #abe4f8 0%, #74d0f4 100%); /* FF3.6+ */
                        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#abe4f8), color-stop(100%,#74d0f4)); /* Chrome,Safari4+ */
                        background: -webkit-linear-gradient(top,  #00779f 0%,#004860 100%); /* Chrome10+,Safari5.1+ */
                        background: -o-linear-gradient(top,  #abe4f8 0%,#74d0f4 100%); /* Opera 11.10+ */
                        background: -ms-linear-gradient(top,  #abe4f8 0%,#74d0f4 100%); /* IE10+ */
                        background: linear-gradient(top,  #abe4f8 0%,#74d0f4 100%); /* W3C */
                        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#abe4f8', endColorstr='#74d0f4',GradientType=0 ); /* IE6-9 */
                        background-color: #006080;
                }

                .body_description{
                    position: relative;
                    width: 100%;
                     overflow: hidden;
                }

                    .body_description ul {
                        font-size: 17px;
                        position: relative;
                        width: 100%;
                    }

                        .body_description ul li a{
                            display: block;
                            width: 100%;
                            padding: 5% 5% 0 5%;
                            color:black;
                            transition: 0.2s ;
                        }

                        .body_description ul li a:hover{
                            color: deepskyblue;
                        }

 /*-----------------------  карусель  -------------------------*/       
        /* Все что ниже для галереи которую можно перелистывать*/
        /* Задаем сброс обтекания */

       .clear1, .clear2, .clear3, .clear4, .clear5, .clear6, .clear7{
            margin-top: -1px;
            height: 1px;
            clear:both;
            zoom: 1;
        }		

        .slider1, .slider2, .slider3, .slider4, .slider5, .slider6, .slider7 {
            width: 674px;
            margin: 0 auto;
            position: relative;
            float: left;
            height: 100%;
            border: 1px #006080 solid;
            overflow: hidden;
        }

        /* Двойной клик по ссылкам вперед/назад вызывает выделение всех элементов слайдера,
        поэтому предотвращаем это */

        .slider1::-moz-selection, .slider2::-moz-selection, .slider3::-moz-selection, .slider4::-moz-selection, .slider5::-moz-selection, .slider6::-moz-selection, .slider7::-moz-selection {
            background: transparent;
            color: #fff;
            text-shadow: none;
        }

        .slider1::selection, .slider2::selection, .slider3::selection, .slider4::selection, .slider5::selection, .slider6::selection, .slider7::selection {
            background: transparent;
            color: #fff;
            text-shadow: none;
        }

            .slide-list1, .slide-list2, .slide-list3, .slide-list4, .slide-list5, .slide-list6, .slide-list7 {
                height: 90%;
                position: relative;
                width: 9999px;
            }

                .slide-wrap1, .slide-wrap2, .slide-wrap3, .slide-wrap4, .slide-wrap5, .slide-wrap6, .slide-wrap7 {
                    height: 100%;
                    position: absolute;
                    left: 0;
                    top: 0;
                    right: 0px;
                    /* максимально возможная ширина обертки слайдера */
                  /*  width: 100%;*/
                }

                    .slide-item1, .slide-item2, .slide-item3, .slide-item4, .slide-item5, .slide-item6, .slide-item7 {
                        position: relative;
                        height: 100%;
                        width: 224px;
                        float: left;
                       /* border: 1px #006080 solid;*/
                    }

                        .slide-item1 .slider_image, .slide-item2 .slider_image, .slide-item3 .slider_image, .slide-item4 .slider_image, .slide-item5 .slider_image, .slide-item6 .slider_image, .slide-item7 .slider_image {
                            height: 225px;
                            width: 100%;
                            border-left: 1px #006080 solid;
                            border-right: 1px #006080 solid;
                        }

                            .slide-item1 img, .slide-item2 img, .slide-item3 img, .slide-item4 img, .slide-item5 img, .slide-item6 img, .slide-item7 img {
                                height: inherit;
                                width: inherit;
                                transition: 0.5s ;
                            }

                            .slide-item1 img:hover, .slide-item2 img:hover, .slide-item3 img:hover, .slide-item4 img:hover, .slide-item5 img:hover, .slide-item6 img:hover, .slide-item7 img:hover{
                             transform: scale(1.1);                   
                            }

                        .slide-title1,
                        .slide-title2,
                        .slide-title3,
                        .slide-title4,
                        .slide-title5,
                        .slide-title6,
                        .slide-title7,
                        .slide-price1,
                        .slide-price2,
                        .slide-price3,
                        .slide-price4,
                        .slide-price5,
                        .slide-price6,
                        .slide-price7{
                            width: 100%;
                            height: auto;
                            /* Шрифт */
                            font: 1em/1.4em sans-serif;
                            /* Указываем, что элемент блочный */
                            display: block;
                            border: 1px #006080 solid;
                        }

                        .slide-title1, .slide-title2, .slide-title3, .slide-title4, .slide-title5, .slide-title6, .slide-title7{
                            border-top: 2px #006080 solid;
                        }

                        .slide-price1,
                        .slide-price2,
                        .slide-price3,
                        .slide-price4,
                        .slide-price5,
                        .slide-price6,
                        .slide-price7{
                            border-bottom: 2px #006080 solid;
                        }

                    .slide-buy1, .slide-buy2, .slide-buy3, .slide-buy4, .slide-buy5, .slide-buy6, .slide-buy7 {
                        width: 100%;
                        height: auto;
                        padding: 0 0 2px;
                        font: 16px "Trebuchet MS", Tahoma, Arial, sans-serif;
                        outline: none;
                        position: relative;
                        cursor: pointer;
                        border-radius: 3px;
                        color: white;
                        text-shadow: 1px 1px #006080;
                        border: 1px solid #006080;
                        border-top: 1px solid #006080;
                        border-bottom: 1px solid #006080;
                        box-shadow:
                            inset 0 1px #939393,
                            inset 1px 0 #707070,
                            inset -1px 0 #707070,
                            inset 0 -1px #5A5A5A,
                            0 2px #414141,
                            0 3px #343434,
                            0 4px 2px rgba(0,0,0,0.4)
                        ;
                        background: -moz-linear-gradient(top,  #abe4f8 0%, #74d0f4 100%); /* FF3.6+ */
                        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#abe4f8), color-stop(100%,#74d0f4)); /* Chrome,Safari4+ */
                        background: -webkit-linear-gradient(top,  #00779f 0%,#004860 100%); /* Chrome10+,Safari5.1+ */
                        background: -o-linear-gradient(top,  #abe4f8 0%,#74d0f4 100%); /* Opera 11.10+ */
                        background: -ms-linear-gradient(top,  #abe4f8 0%,#74d0f4 100%); /* IE10+ */
                        background: linear-gradient(top,  #abe4f8 0%,#74d0f4 100%); /* W3C */
                        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#abe4f8', endColorstr='#74d0f4',GradientType=0 ); /* IE6-9 */
                        background-color: #006080;
                    }

                    .slide-buy1::-moz-focus-inner, .slide-buy2::-moz-focus-inner, .slide-buy3::-moz-focus-inner, .slide-buy4::-moz-focus-inner, .slide-buy5::-moz-focus-inner, .slide-buy6::-moz-focus-inner, .slide-buy7::-moz-focus-inner{border:0}

                    .slide-buy1:hover, .slide-buy2:hover, .slide-buy3:hover, .slide-buy4:hover, .slide-buy5:hover, .slide-buy6:hover, .slide-buy7:hover{
                        border-top: 1px solid #79ACBE;
                        box-shadow:
                            inset 0 1px #939393,
                            inset 1px 0 #707070,
                            inset -1px 0 #707070,
                            inset 0 -1px #5A5A5A,
                            0 2px #414141,
                            0 3px #343434,
                            0 4px 2px rgba(0,0,0,0.4)
                        ;
                        background: -moz-linear-gradient(top,  #80d4f5 0%, #92dbf6 100%); /* FF3.6+ */
                        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#80d4f5), color-stop(100%,#92dbf6)); /* Chrome,Safari4+ */
                        background: -webkit-linear-gradient(top,  #004860 0%,#00779f 100%); /* Chrome10+,Safari5.1+ */
                        background: -o-linear-gradient(top,  #80d4f5 0%,#92dbf6 100%); /* Opera 11.10+ */
                        background: -ms-linear-gradient(top,  #80d4f5 0%,#92dbf6 100%); /* IE10+ */
                        background: linear-gradient(top,  #80d4f5 0%,#92dbf6 100%); /* W3C */
                        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#80d4f5', endColorstr='#92dbf6',GradientType=0 ); /* IE6-9 */
                        background-color: #006080;
                    }

                    .slide-buy1:active, .slide-buy2:active, .slide-buy3:active, .slide-buy4:active, .slide-buy5:active, .slide-buy6:active, .slide-buy7:active{
                        top: 3px;
                        border: 1px solid #006080;
                        border-top: 1px solid #006080;
                        border-bottom: 1px solid #006080;
                        background: #006080;
                        box-shadow: inset 0 1px 2px #006080;
                    }
        
            .bottom_of_slider{
                position: relative;
                height: 10%;
                width: 75px;
                margin: 1px auto 0;
                padding: auto 0;
                overflow: hidden;
                bottom: 0;
            }

                /* навигация вперед/назад */
                .navy1, .navy2, .navy3, .navy4, .navy5, .navy6, .navy7 {
                    position: absolute;
                    top: 0;
                    z-index: 1;
                    height: 100%;
                    width: 24px;
                    cursor: pointer;
                }

                .prev-slide1, .prev-slide2, .prev-slide3, .prev-slide4, .prev-slide5, .prev-slide6, .prev-slide7{
                    left: 0;
                    background: /*#2c5987*/ url(../bg/left-arrow.png) 8px 50% no-repeat;
                }

                .next-slide1, .next-slide2, .next-slide3, .next-slide4, .next-slide5, .next-slide6, .next-slide7{
                    right: 0;
                    background: /*#2c5987*/ url(../bg/right-arrow.png) 8px 50% no-repeat;
                }

     /*       .navy1.disable1, .navy2.disable2, .navy3.disable3, .navy4.disable4, .navy5.disable5, .navy6.disable6, .navy7.disable7 {
                background: white;
            }*/

            /* навигация старт/пауза */

                .auto1, .auto2, .auto3, .auto4, .auto5, .auto6, .auto7{
                    width: 7px;
                    height: 100%;
                    margin: 0 0 1%;
                    cursor: pointer;
                    margin: 0px auto;
                }

                .play1, .play2, .play3, .play4, .play5, .play6, .play7{
                    height: 100%;
                    background: url(../bg/play.png) center no-repeat;
                }

                .pause1, .pause2, .pause3, .pause4, .pause5, .pause6, .pause7{
                    height: 100%;
                    background: url(../bg/pause.png) center no-repeat;
                }

/*--- реклама справа в категории товаров ---*/
.reklam_right_of_slider1, .reklam_right_of_slider2, .reklam_right_of_slider3, .reklam_right_of_slider4, .reklam_right_of_slider5, .reklam_right_of_slider6, .reklam_right_of_slider7{
    position: relative;
    float: left;
    height: inherit;
    width: 240px;
    padding: 0;
    margin: 0;
    overflow: hidden;
    border: 1px #006080 solid;
    border-left: none;
}

    .reklam_right_of_slider1 img,  .reklam_right_of_slider2 img,  .reklam_right_of_slider3 img,  .reklam_right_of_slider4 img,  .reklam_right_of_slider5 img,  .reklam_right_of_slider6 img,  .reklam_right_of_slider7 img{
        position: relative;
        height: inherit;
        width: inherit;
    }
/*---------------- footer -----------------------*/
#footer { 
    position: relative;
    margin-top: -100px; /* negative value of footer height */
    height: 100px;
    background: #006080;    
    clear:both;
}