/*-------------- LEFT FIELD ------------------*/
        #reklam{
            position: relative;
            float: left;
            width: 100%;
        }

             #reklam .slide-item {
                height: 20%;
                width: inherit;
                float: left;
                margin: 0 0px 5px;
                border: 1px #2c5987 solid;
            }

                 #reklam .slide-item img{
                    height: 85%;
                    width: 100%;
                }

         #reklam .slide-title,
         #reklam .slide-price,
         #reklam .slide-buy{
            width: 100%;
            box-sizing: border-box;
            height: auto;
            /* Шрифт */
            font: bold 16px monospace;
            /* Указываем, что элемент блочный */
            display: block;
            border: 1px #2c5987 solid;
        }

         #reklam .slide-title{
            border-top: 2px #2c5987 solid;
        }

/* ------ product page ------ */
#product{
    position: relative;
    height: auto;
    width: 85%;
    float: left;
    padding-left: 5px;
}
/*--- Name of product ---*/

    #product p{
        position: relative;
        height: auto;
        width: 40%;
        margin: 15px auto;
        text-align: center;
        font: 1.5em sans-serif;
    }

/*--- first part of product page ---*/
    #foto_and_descriptions{
        position: relative;
        width: 100%;
        box-sizing: padding-box;
        height: auto;
    }

        #foto{
            position: relative;
            width: 50%;
            height:auto;
            float: left;
        }

            .image_container{
                position: relative;
                height: 450px;
                width: 450px;
                border: 1px #006080 solid;
                margin: 0 auto;
                box-sizing: content-box;
            }
                #foto img{
                    position: relative;
                    height: inherit;
                    width: inherit;
                }

            .small_pictures{
                position: relative;
                height: 20px;
                width: 80%;
                margin: 10px auto;
                display: block;
                box-sizing: content-box;
            }

                .small_pictures > div{
                    position: relative;
                    height: 20px;
                    width: 20px;
                    margin: 0px 5px 0px 0px;
                    border: 1px blue solid;
                    float: left;
                    display: block;
                    background: blue;
                }

        #descriptions{
            position: relative;
            width: 50%;
            height: auto;
            float: left;
        }

            #descriptions table{
                position: relative;
                height: auto;
                width: auto;
                font: 1em sans-serif;
                top: 0;
                float: left;
            }

            #descriptions caption{
                text-align: center;
                font: 1.2em sans-serif;
            }

            #descriptions td{
                height: auto;
                width: 190px;
                text-align: left;
                top: 0;
                margin-bottom: 10px;
            }
        
/*---- second part of product page ----*/
    #tabs{
        position: relative;
        width: 100%;
        height: auto;
        display:inline-block;
        margin-top: 10px;
    }
        #tabs > div{
            padding-top:10px;
        }

            #tabs > div table{
                position: relative;
                height: auto;
                width: auto;
                font: 1em sans-serif;
                top: 0;
                float: left;
            }

           #tabs > div caption{
                text-align: center;
                font: 1.2em sans-serif;
            }

            #tabs > div td{
                height: auto;
                width: 190px;
                text-align: left;
                top: 0;
                margin-bottom: 10px;
            }

        #tabs ul{
            margin:0px;
            padding:0px;
        }
        #tabs ul:after{
            content:"";
            display:block;
            clear:both;
            height:5px;
            background:#006080;
        }
        #tabs ul li{
            margin:0px;
            padding:0px;
            cursor:pointer;
            display:block;
            float:left;
            padding:10px 15px;
            background:#e9eaeb;
            color:#707070;
        }
        #tabs ul li.active, #tabs ul li.active:hover{
            background:#006080;
            color:#fff;
        }
        #tabs ul li:hover{
            background:#d6d6d7;
        }