*{
    box-sizing:border-box;
}

body { 
    width: 100%;
    font: 1em/1.4em sans-serif;
    padding: 0;
    margin: 0;
}

a{
    text-decoration: none;
}

ul{
    margin: 0;
    padding: 0;
    list-style: none;
}

#out_result_of_search{
    position: relative;
    height: auto;
    width: 84%;
    float: left;
    margin-left: 5px;
    background: #f5f5f5;
    /*border: 2px green solid;*/
}

	.printer{
		position: relative;
		width: 32%;
		height: auto;
		border: 2px blue solid;
		float: left;
		margin: 7px;
		border-radius: 5px;
		display:block;
	}
		.printer_image{
			position: relative;
			top: 0px;
			height:300px;
			width: 100%;
			float: left;
			border-bottom: 1px blue solid;
		}
		
			.printer_image img{
				position: relative;
				height:inherit;
				width: inherit;
				float: left;
			}
		
		.printer_title, .printer_price{
			position: relative;
			height: 50px;
			width: auto;
			max-width: 140px;
			float: left;
			margin:0;
			padding: 10px;
			font-weight: bold;
			text-align: center;
			/*border: 1px red solid;*/
			color: black;
		}
		.printer_price{
			width: 80px;
			color: blue;
		}
		
			.printer_buy{
				position: relative;
				height:auto;
				width: auto;
				float: right;
				padding: 0;
				margin: 5px;
				back-ground: inherit;
				transition: 1s;
			}
			
			.printer_buy:hover{
				transform: scale(1.1);
			}
		
				.printer_buy img{
					position: relative;
					height:50px;
					width: 50px;
				}