	.amount-prise{
                width: 51px;
            }

            .amount-maximum_media_thickness,
            .amount-maximum_weight_of_vehicle{
                width: 30px;
            }

input.speed_print_pass{width: 33px; text-align: center;}
input.option{width: 94px; text-align: center;}

	.amount-speed-print{
		width: 30px;
	}
            .amount-max_power_consumption{
                width: 35px;
            }

            .amount-weight{
                width: 42px;
            }

            .amount-width,
            .amount-heigth,
            .amount-depth{
                width:43px;
            }
