#head_of_page{
	font: 26px Arial;
	padding-left: 350px;
	padding-top: 10px;
	padding-bottom: 10px;
	display: block;
	position: relative;
	margin: 0 auto;
	color: blue;
} 
/* ------ product page ------ */

form {
	width: inherit;
	margin: 10px;
	padding: 0;
}
p{
	margin: 0px;
	padding: 0px;
}

form > p{
	margin: 10px;
}

#product{
	width: 1100px;
	height: auto;
    margin: 0 auto;
    position: relative;
    padding: 0px;
}

		#pictures {
			position: relative;
			width: 425px;
			height: auto;
			float: left;
		}
			
			p#drop-area{
				border: 2px green dashed;
				border-radius: 5px;
				padding: 20px;
				margin: 10px 0;
				width: 300px;
			}
			
			#file-list {
				position: relative;
				width: inherit;
				height: auto;
				/*border: 1px red solid;
				border-radius: 5px;*/
				list-style-type: none;
				margin: 0;
				padding: 0;
			}

				#file-list div {
					position: relative;
					width: 400px;
					height: auto;
				}
				#file-list li {
					padding: 10px;
					margin-bottom:5px;
					border-radius: 5px;
				}

				#file-list .no-items{
					 font: 13px Arial;
					 font-weight: bold;
				}
				
					#file-list img{
						position: relative;
						width: 400px;
						height: 300px;
					}
					
					 /* #file-list {    width: 100%; }
  #file-list li { margin: 0 3px 3px 3px; padding: 0; padding-left: 0; font-size: 1.4em; height: 18px; }
  #file-list li span { position: absolute; margin-left: -1.3em; }*/
  
					.delete_img {
						cursor: pointer;
						color: red;
						text-decoration:underline;
						width: 70px;
						padding-left: 10px;
						padding-bottom:5px;
					}
					.delete_img:hover {
						color: blue;
					}
#printer_characteristic{
    position: relative;
    height: auto;
    width: auto;
    float: left;
    padding-left: 10px;
    padding-right: 10px;
    margin-left:5px;
    background: #f5f5f5;
}
    .characteristic{
        border-bottom: 1px solid rgb(219, 219, 219);
        color: rgb(51, 51, 51);
        display: block;
        font: 12px Arial;
        height: auto;
        line-height: 16px;
        padding: 0px 0px 3px 0px;
        width: 250px;
    }

        .block_title{
            color: rgb(51, 51, 51);
            cursor: pointer;
            display: block;
            font: 12px Arial;
            font-weight: bold;
            height: auto;
            line-height: auto;
            margin: 5px 0px 5px 0px;
            position: relative;
            width: inherit;
            z-index: 1;
        }

            .block_title i.opened{ /* Opened state of point. */
                background-clip: border-box;
                background-color: inherit;
                background-image: none;
                background-origin: padding-box;
                background-size: auto;
                border: 4px rgb(144, 144, 144) solid; 
                border-bottom-width: 0px;
                border-left-color: rgba(0, 0, 0, 0);
                border-right-color: rgba(0, 0, 0, 0);
                color: rgb(51, 51, 51);
                cursor: pointer;
                display: block;
                font-family: Arial;
                font: 12px italic;
                font-weight: bold;
                height: 0px;
                left: 0px;
                line-height: 16px;
                margin: 3px 10px 0px 0px;
                position: absolute;
                top: 3px;
                width: 0px;
                z-index: 1;
            }
            
             .block_title i{/* Normal state of point - closed */
                background-clip: border-box;
                background-color: inherit;
                background-image: none;
                background-origin: padding-box;
                background-size: auto;
                border: 4px rgb(144, 144, 144) solid; 
                border-right-width: 0px;
                border-top-color: rgba(0, 0, 0, 0);
                border-bottom-color: rgba(0, 0, 0, 0);
                color: rgb(51, 51, 51);
                cursor: pointer;
                display: block;
                font: 12px Arial;
                font-weight: bold;
                height: 0px;
                left: 0px;
                line-height: 16px;
                margin: 3px 10px 0px 0px;
                position: absolute;
                top:0px;
                width: 0px;
                z-index: 1;
            }

             .block_title p{
                color: black;
                cursor: pointer;
                display: block;
                font: 12px Arial;
                font-weight: bold;
                height: auto;
                left: 10px;
                line-height: 16px;
                margin: 0px 10px 0px 0px;
                position: relative;
                top:0px;
                z-index: 1;
            }

        .check_boxes{
            color: rgb(51, 51, 51);
            display: none;
            font: 12px Arial;
            height: auto;
            line-height: 16px;
            list-style-image: none;
            list-style-position: outside;
            list-style-type: none;
            margin: 0px;
            padding: 0px;
            padding-bottom: 5px;
        }

            .text_output{
                width: inherit;
                height: 20px;
            }

            .text_output p{
                float: left;
                width: auto;
                float: left;
                padding: 0;
                margin: 0;
                border:0;
                color:#006080;
                background: inherit;
                font-weight:bold;
            }

            .text_output input{  
                float: left;
                border:0;
                color:#006080;
                background: inherit; 
                font-weight:bold;
            }

            input{
                padding: 0;
                margin: 0;
            }

            .amount-prise{
                width: 42px;
            }

            .amount-speed-print{
                width: 21px;
            }

            .amount-maximum_media_thickness{
                width: 21px;
            }

            .amount-maximum_weight_of_vehicle{
                width: 21px;
            }

            .amount-max_power_consumption{
                width: 25px;
            }

            .amount-weight{
                width: 30px;
            }

            .amount-width,
            .amount-heigth,
            .amount-depth{
                width:19px;
            }

            .slider{
                margin-top: 0px;
            }

    #tabs{
        position: relative;
        width: 100%;
        height: auto;
        display:inline-block;
    }
        #tabs > div{
            padding-top:10px;
            max-width: 300px;
        }

        #tabs ul{
            margin:0px;
            padding:0px;
        }
        #tabs ul:after{
            content:"";
            display:block;
            clear:both;
            height:3px;
            background:#006080;
        }
        #tabs ul li{
            margin:0px;
            padding:0px;
            cursor:pointer;
            display:block;
            float:left;
            padding:5px 5px;
            background:#e9eaeb;
            color:#707070;
        }
        #tabs ul li.active, #tabs ul li.active:hover{
            background:#006080;
            color:#fff;
        }
        #tabs ul li:hover{
            background:#d6d6d7;
        }
