            .amount-prise0,
            .amount-prise1{
                width: 60px;
            }

            .amount-numberOfShafts0,
            .amount-numberOfShafts1{
                width: 20px;
            }

.amount-shaftDiameter0,
.amount-shaftDiameter1,
.amount-filmThickness0,
.amount-filmThickness1,
.amount-laminatingSpeed0,
.amount-laminatingSpeed1{
	width: 35px;
}

.amount-warmUpTime0,
.amount-warmUpTime1,
.amount-laminationTemperature0,
.amount-laminationTemperature1{
	width: 27px;
}

			.amount-averagePowerConsumption0,
			.amount-averagePowerConsumption1,
            .amount-max_power_consumption0,
            .amount-max_power_consumption1{
                width: 51px;
            }

            .amount-weight0,
            .amount-weight1{
                width: 35px;
            }

	    .amount-width0,
            .amount-width1,
	    .amount-heigth0,
            .amount-heigth1,
            .amount-depth0,
            .amount-depth1{
                width: 43px;
            }
